


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
<div>
<!--  <a th:href="@{/register}">Add Student</a> -->
  <a th:href="@{/requi/new}">Add request</a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--  <a th:href="@{/searchPage}">View Student</a> -->

</div><br>
<table>
  <tr>
    <th>Request ID</th>
    <th>Request Email</th>
    <th>Exam officer response</th>
    <th>Lecturer response</th>
    <th>HOD response</th>
    <th>Recent updated on</th>
    <th>Resquest status</th>
    <th>Required document</th>
    <th>Student id</th>
    <th>Submitted on </th>
    <th>Type of request </th>

  </tr>
  <tr th:each="student : ${student}">
    <td th:text="${student.ident}"></td>
    <td th:text="${student.email}"></td>
    <td th:text="${student.exam_officer_response}"></td>
    <td th:text="${student.hod_response}"></td>

    <td th:text="${student.lecturer_response}"></td>
    <td th:text="${student.recent_updated_on}"></td>
    <td th:text="${student.request_status}"></td>
    <td th:text="${student.required_docs}"></td>

    <td th:text="${student.student_id}"></td>
    <td th:text="${student.submitted_on}"></td>
    <td th:text="${student.type_of_request}"></td>

    <td><a th:href="@{/updateForm(id=${student.id})}">Edit</a>&nbsp;&nbsp;
    <a th:href="@{/deleteForm(id=${student.id})}">Delete</a></td>
  </tr>
</table>

</body>
</html>

