<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/bk.css">-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/add}" th:object="${vehi}" method="post">-->
<!--    <div >-->
<!--        <div >-->
<!--            <label>Plate Number</label>-->
<!--            <input type="text"-->
<!--                   placeholder="RAC100A"-->
<!--                   th:field="*{plateNo}"-->
<!--                   required>-->

<!--        </div>-->
<!--        <div class="col-md-4 mb-3">-->
<!--            <label > Name</label>-->
<!--            <input placeholder="Otto" required th:field="*{name}" type="text">-->

<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-row">-->
<!--        <div class="col-md-6 mb-3">-->
<!--            <label >Type</label>-->
<!--            <input type="text" placeholder="Enter type" th:field="*{type}">-->

<!--        </div>-->
<!--        <div class="col-md-3 mb-3">-->
<!--            <label >Model</label>-->
<!--            <input type="text"  placeholder="Enter Model" th:field="*{model}" >-->

<!--        </div>-->
<!--    </div>-->


<!--    <button class="btn btn-primary" type="submit">Save vehicle</button>-->
<!--</form>-->
<!--</body>-->
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<!--<form th:action="@{/register}" th:object="${student}" method="post" >-->
    <form th:action="@{/save}" th:object="${vehi}" method="post">

    <label>Plate_No</label>
    <input type="text" th:field="*{plateNo}"  name="plateNo" required/> </br>
    <label>name</label>
    <input type="text" th:field="*{name}" name="name" required/> </br>
    <label>type</label>
    <input type="text" th:field="*{type}" name="type" required/> </br>
    <label>model</label>
    <input type="text" th:field="*{model}" name="model" required/> </br>
    <button type="submit">Register</button>
</form>

</body>
</html>