<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TO-DOS</title>
  <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <a href="http://www.in28minutes.com" class="navbar-brand">in28Minutes</a>
  </div>
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/login">Home</a></li>
      <li><a href="/list-todos">Todos</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <table class="table table-striped">
    <caption>your to-dos are</caption>
    <thead>
    <tr>
      <th>description</th>
      <th>target date</th>
      <th>is completed?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}">
      <td th:text="${todo.desc}"></td>
      <td><span th:text="${#dates.format(todo.targetDate, 'dd/MM/yyyy')}"></span></td>
      <td th:text="${todo.done}"></td>
      <td>
        <a th:href="@{/update-todo(id=${todo.id})}" class="btn btn-success">Update</a>
        <a th:href="@{/delete-todo(id=${todo.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-success" th:href="@{/add-todo}">Add</a>
  </div>
  <script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js"></script>
  <script>
    $('#targetDate').datepicker({
      format : 'dd/mm/yyyy'
    });
  </script>
</div>
</body>
</html>